*.*~
\#*
template.png
.vscode/
.idea/
.DS_Store
build/

# Laravel
laravel/vendor/
laravel/.env
laravel/storage/*.key
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*.log
laravel/bootstrap/cache/*.php


laravel/public/storage
laravel/public/hot
laravel/.phpunit.result.cache
laravel/database/database.sqlite
laravel/node_modules/
laravel/npm-debug.log
laravel/yarn-error.log
laravel/.env.backup
laravel/.phpunit.cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/src/css/app.css
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.idea/
frontend/.vscode/
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?