*.*~
\#*
template.png
.vscode/
.idea/
.DS_Store
build/
TEST/

# Laravel
laravel/vendor/
laravel/.env
laravel/storage/*.key
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*.log
laravel/bootstrap/cache/*.php


laravel/public/storage
laravel/public/hot
laravel/.phpunit.result.cache
laravel/database/database.sqlite
laravel/node_modules/
laravel/npm-debug.log
laravel/yarn-error.log
laravel/.env.backup
laravel/.phpunit.cache/
