*.*~
\#*
template.png
.vscode/
.idea/
.DS_Store
build/
TEST/

# Laravel
vendor/
.env
storage/*.key
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
bootstrap/cache/*.php

public/build
public/storage
public/hot
.phpunit.result.cache
database/database.sqlite
node_modules/
npm_debug.log
yarn-error.log
.env.backup
.phpunit.cache/


# Track files
!.placeholder